.jumbotron {
	padding: 2rem 1rem;
	background-color: #467b98;
}
.row-padding{
    padding: 100px 0px;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
}
.form-group input{
    width: 100%;
    font-size: 1em;
    color: grey;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid gray;
    z-index: 9;
    box-sizing: border-box;
    display: block;
}
.form-group textarea{
    width: 100%;
    font-size: 1em;
    color: grey;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid gray;
    z-index: 9;
    box-sizing: border-box;
    display: block;
}
.form-group label{
    position: absolute;
    top: -2px;
    padding: 11px 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 1em;
    z-index: -1;
}
.form-group input:focus + label,
.form-group input:valid + label{
    top: 7px !important;
    left: 5px;
    font-size: 0.8em;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding: 0px 10px;
    background:#f9f9f9;
    z-index:1;
}
.form-group textarea:focus + label,
.form-group textarea:valid + label{
    top: 7px !important;
    left: 5px;
    font-size: 0.8em;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding: 0px 10px;
    background:#f9f9f9;
    z-index:1;
}
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #070707;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #070707;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color:  #070707;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }
.footer {
    height: 80px;
  }
  .social-media{
    margin: 20px;
  }
  .social-media a{
    color: white;
    margin: 20px;
    font-size: 21px;
    text-decoration: none;
    transition: .3s linear;
  }
  .social-media a:hover{
    color: #fc5c65;
  }

.calorbanner{
    background-color: #070707;
    background-image: linear-gradient(135deg, #070707 0%, #070707 100%);
}
.home-myprojek h1{
    font-weight:  300;
    letter-spacing:  3px;
    color:#fff
}

.home-myprojek h4 {
    color:#fff;
    font-weight:  300;
    margin-top:  20px;
    font-size:  21px;
    letter-spacing:  2px;
}
.home-myprojek h5 {
    color:#fff;
    font-weight:  300;
    margin-top:  20px;
    font-size:  21px;
    letter-spacing:  2px;
}
